<%include ../partials/header%>
<%if (!user){ %>
    <div>
        <p>Setup your Profile.</p>
        <button>Create Profile</button>
    </div>
<%} else{ %>
    <div class="container">
        <div class="profile-head">
            <div>
                <%if (!user.profilePicUrl){ %>
                    <%user.profilePicUrl = "https://cdn2.iconfinder.com/data/icons/ui-1/60/05-512.png"%>
                <%}%>
                <img class="rounded-circle profile-image img-thumbnail" src="<%=user.profilePicUrl %>" alt="image.png">
            </div>
            <div>
                    <%=user.fName%> <%=user.lName%>
            </div>
            <% if (currentUser){ %>
                <div><a href="/user/<%=currentUser._id%>/edit" class="btn btn-sm btn-primary">Update Profile</a></div>
            <% } %>
        </div>
    <div class="row">
        <div class="col-3">
            <div>
                <span><h5>About Me</h5></span>
                <p><%=user.about.substring(0, 250) %></p> <!--remove substring function. about field will have a max of 250 chars-->
            </div>
            <hr>
            <div>
                <span><h5>Bio</h5></span>
                <div>Joined Date: <%=moment(user.created).format("MMM YYYY")%></div>
                <div>Posts: <%=user.posts.length %></div>
                <div>Reviews: <%=user.reviews.length %></div>
                <div>From: <%=user.country %></div>
            </div>
            <hr>
            <div>
                <span><h5>My Interests</h5></span>
                <p>
                    <%=user.interests %>
                </p>
            </div>
            
        </div>
        <div class="col-6">
            <div><a href="/campgrounds"><-Back</a></div>
        </div>
    </div>
</div>
<%} %>

<%include ../partials/footer%>