<%include ../partials/header%>
<%if (!user){ %>
    <div>
        <p>Setup your Profile.</p>
        <button>Create Profile</button>
    </div>
<%} else{ %>
    <div class="container">
    <div class="row">
        <div class="col-3 text-center">
            <div>
                <%if (!user.profilePicUrl){ %>
                    <%user.profilePicUrl = "https://cdn2.iconfinder.com/data/icons/ui-1/60/05-512.png"%>
                <%}%>
                <img class="rounded-circle rounded-sm img-thumbnail" src="<%=user.profilePicUrl %>" alt="image.png">
            </div>
        </div>
        <div class="col-6">
            <div><%=user.fName%></div>
            <div><%=user.lName%></div>
            <div><%=user.dateOfBirth%></div>
            <div><%=user.gender %></div>
            <div><%=user.phone %></div>
            <div><%=user.country %></div>
            <div><a href="/user/<%=currentUser._id%>/edit" class="btn btn-sm btn-primary">Update Profile</a></div>
            <div><a href="/campgrounds"><-Back</a></div>
            
        </div>
        <div class="col-3">
            <div>
                <h5>About Me:</h5>
                <p><%=user.about %></p>
            </div>
            <div>
                What interests me?
                <p>
                    <%=user.interests %>
                </p>
            </div>
        </div>
    </div>
</div>
<%} %>

<%include ../partials/footer%>