<%include ../partials/header%>
<%if (!user){ %>
    <div>
        <p>Setup your Profile.</p>
        <button>Create Profile</button>
    </div>
<%} else{ %>
    <div class="container">
        <div class="profile-head shadow-sm" style="background-image: url(<%=user.coverImageUrl%>)">
            <%if (!user.profilePicUrl){ %>
                <% if (user.gender == "male") { user.profilePicUrl = "https://res.cloudinary.com/dheveshp/image/upload/v1567593144/default-avatar-male_tqvfck.png"; } else if (user.gender == "female") { %>
                <% user.profilePicUrl = "https://res.cloudinary.com/dheveshp/image/upload/v1567593144/default-avatar-female_ebku4e.png"; } else { %>
                <% user.profilePicUrl = "https://res.cloudinary.com/dheveshp/image/upload/v1567600443/default-profile-pic-png-9_rg9rkp.png"; } %>
            <%}%>
            <div class=profile-head-image>
                <img class="profile-image img-thumbnail" src="<%=user.profilePicUrl %>" alt="image.png">
                <span class="d-flex d-inline-flex profile-head-text pl-2"><%=user.fName%> <%=user.lName%></span>
            </div>
        </div>
        <div class="profile-footer shadow-sm">
                <% if (currentUser) { %>
                    <% if (currentUser.id == user.id || currentUser.role == "admin") { %>
                    <a class="btn btn-sm btn-success mt-2 mr-2" href="/user/<%=currentUser._id%>/edit">Update Profile</a>
                    <% } %>
                <% } %>
            </div>
    <div class="row">
        <div class="col-4">
            <div class="card mt-2 shadow-sm">
                <div class="card-body">
                    <div>
                        <span><h5>About Me</h5></span>
                        <p><%=user.about %></p> <!--remove substring function. about field will have a max of 250 chars-->
                    </div>
                    <hr>
                    <div>
                        <% var isAdmin; if (user.role == "admin") { isAdmin = "badge-success" } else { isAdmin = "badge-secondary" } %>
                        <div class="badge badge-pill pb-1 <%=isAdmin%>"><%=user.role%></div>
                        <div>Joined: <%=moment(user.created).format("MMM YYYY")%></div>
                        <div>Posts: <%=user.posts.length %></div>
                        <div>Reviews: <%=user.reviews.length %></div>
                        <div>From: <%=user.country %></div>
                    </div>
                    <hr>
                    <div>
                        <span><h5>My Interests</h5></span>
                        <p>
                            <%=user.interests %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <% if (user.posts.length === 0){ %>
                <div class="mt-2">
                    <span>User has no posts yet.</span>
                </div>
            <% } else { %>
                <% posts.forEach(function(post){ %>
                    <% if (post.author.id == user.id) { %>
                        <div class="row">
                            <div class="col-12">
                                <div class="card rounded-0 mt-2 mb-2 shadow-sm">
                                    <div class="card-header bg-white">
                                        <span class="card-head-text pr-2"> <a href="/campgrounds/<%=post.slug%>"><%=post.name%></a> </span>
                                            <% if(currentUser && post.author.id.equals(currentUser._id) || currentUser && currentUser.role == "admin"){ %>
                                                <a href="/campgrounds/<%=post.slug%>/edit"><span><i class="far fa-edit"></i></span></a>
                                                <form class="delete-form" action="/campgrounds/<%=post.slug%>/delete?_method=DELETE" method="POST">
                                                    <button><span><i class="far fa-trash-alt"></i></span></button>
                                                </form>
                                            <% } %>
                                        <div>
                                            <span><%=moment(post.dateAdded).format("MMM YYYY")%></span>
                                        </div>
                                        
                                    </div>
                                    <img class="card-img-top img-medium rounded-0" src="<%=post.image%>" alt="post.png">
                                    <div class="card-footer bg-white">
                                        <div>
                                            <% for (var i = 0; i < Math.floor(post.rating) ; i++){ %>
                                                <span class="fas fa-star star-rating"></span>
                                            <% } %>
                                            <% if (post.rating%1 > 0 && post.rating != 5) { %>
                                                <span class="fas fa-star-half-alt star-rating"></span>
                                            <% } %>
                                            <% for (var i = (Math.round(post.rating%1)); i < (5 - Math.floor(post.rating)); i++){  %>
                                                <span class="far fa-star"></span>	
                                            <% } %>
                                        </div>                                        
                                        <span class="badge badge-primary pb-1">Reviews: <%=post.reviews.length%></span>
                                        <span class="badge badge-success pb-1">Likes: <%=post.likes.length%></span>
                                        <span class="badge badge-danger pb-1">Dislikes: <%=post.dislikes.length%></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% } %>
                <% }) %>
            <% } %>
        </div>
    </div>
</div>
<%} %>

<%include ../partials/footer%>