<%include ../partials/header%>
	<div class="jumbotron rounded-0">
		<div class="container w-100 text-center">
			<div class="jumbotron-text">
				<h1>Welcome to <span class="yelpcamp-font">Yelp! Camp</span></h1>
			</div>
			<div class="jumbotron-text">
				View hand-picked campgrounds from all over the world
			</div>
			<hr class="jumbotron-hr">
				<a class="btn btn-success btn-lg btn-txt" href="/campgrounds/new"><span><i class="fas fa-plus"></i> Submit a new campground</span></a>
		</div>
	</div>
	<div class="container">
		<%campground.forEach((campground)=>{%>
			<div class="row">
				<div class="col-4 pb-2">
					<a href="/campgrounds/<%=campground.slug%>"><img class="card-img-top img-small" src="<%=campground.image%>" alt="image.png"></a>
				</div>
				<div class="col-4 pb-2">
					<div class="">
						<h5 class="card-head-text font-sm font-md"><%=campground.name%></h5>	
					</div>
					<p class="card-text mb-0 pb-0" style="white-space: pre-line"><%=campground.description.substring(0,100)%>...</p>
					<a href="/campgrounds/<%=campground.slug%>">continue reading</a>
				</div>
				<div class="col-4 pb-2">
					<div>
						<% for (var i = 0; i < Math.floor(campground.rating) ; i++){ %>
							<span class="fas fa-star star-rating"></span>
						<% } %>
						<% if (campground.rating%2 > 0  && campground.rating != 5) { %>
							<span class="fas fa-star-half-alt star-rating"></span>
						<% } %>
						<% for (var i = (Math.round(campground.rating%2)); i < (5 - Math.floor(campground.rating)); i++){  %>
							<span class="far fa-star"></span>	
						<% } %>
					</div>
					<span class="badge badge-success"><%=campground.likes.length%></span>
					<span class="badge badge-danger"><%=campground.dislikes.length%></span>
					<span>
						<%if (campground.reviews.length === 0){ %>
							No reviews yet
						<%} else if (campground.reviews.length === 1){ %>
							1 review
						<%} else{ %>
							<%=campground.reviews.length%> reviews
						<%} %>
					</span>
				</div>
			</div>
			<hr>
		<%})%>
	</div>
<%include ../partials/footer%>