<%include ../partials/header%>
	<div class="jumbotron">
		<div class="d-flex flex-row">
		<div class="container w-100 text-center">
			<div class="jumbotron-text">
				<h1>Welcome to Yelp! Camp</h1>
			</div>
			<div class="jumbotron-text">
				View hand-picked campgrounds from all over the world
			</div>
			<hr class="jumbotron-hr">
			<div>
				<a class="btn btn-success btn-lg btn-txt" href="/campgrounds/new"><span>Submit a new campground</a>
			</div>
		</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<%campground.forEach((campground)=>{%>
				<div class="col-12 col-sm-6 col-lg-3 pb-2">
					<div class="card card-scale">
						<img class="card-img-top" src="<%=campground.image%>" alt="image.png">
						<div class="card-header">
							<h5 class="card-head-text font-sm font-md"><%=campground.name%></h5>
							<span class="badge badge-success"><%=campground.likes.length%></span>
							<span class="badge badge-danger"><%=campground.dislikes.length%></span>
						</div>	
						<div class="card-body">
							<p class="card-text"><%=campground.description.substring(0,100)%>...</p>
							<a href="/campgrounds/<%=campground._id%>">continue reading</a>
						</div>
					</div>
				</div>	
			<%})%>
		</div>
	</div>
<%include ../partials/footer%>