<%include ../partials/header%>
<div class="container pt-4">
	<div class="row">
		<div class="col-3">
			<div class="list-group">
				<li class="list-group-item"><span><i class="fas fa-globe"></i></span></li>
				<li class="list-group-item"><span><i class="fas fa-map-marked-alt"></i></span></li>
				<li class="list-group-item"><span><i class="fas fa-phone"></i></span></li>
				<li class="list-group-item"><span><i class="far fa-clock"></i></span></li>
			</div>
			<div>
				<span class="time">Submitted by : <a href="/user/<%=campground.author.id%>"><%=campground.author.name%></a></span><span></span><span class="time"> - <%=moment(campground.dateAdded).fromNow()%></span>
			</div>
		</div>
		<div class="col-6">
			<div class="card mb-4">
				<img class="card-img-top img-medium" src="<%=campground.image%>">
				<div class="card-header bg-white">
					<span class="card-head-text pr-2"><%=campground.name%></span>
					<% if(currentUser && campground.author.id.equals(currentUser._id) || currentUser && currentUser.userRole == "admin"){ %>
						<a href="/campgrounds/<%=campground.slug%>/edit"><span><i class="far fa-edit"></i></span></a>
						<form class="delete-form" action="/campgrounds/<%=campground.slug%>/delete?_method=DELETE" method="POST">
							<button><span><i class="far fa-trash-alt"></i></span></button>
						</form>
					<% } %>
					<div class="float-right"><h6>$<%=campground.price%>/night</h6></div>
					<div>
						<% for (var i = 0; i < Math.floor(campground.rating) ; i++){ %>
							<span class="fas fa-star star-rating"></span>
						<% } %>
						<% if (campground.rating%2 > 0 ) { %>
							<span class="fas fa-star-half-alt star-rating"></span>
						<% } %>
						<% for (var i = (Math.round(campground.rating%2)); i < (5 - Math.floor(campground.rating)); i++){  %>
							<span class="far fa-star"></span>	
						<% } %>
						<span>
							<%=campground.reviews.length%>
							<%if (campground.reviews.length == 1){ %>review
							<%} else {%> reviews <%}%>
						</span>
					</div>
				</div>
				<div class="card-body">
					<p class="card-text"><%=campground.description%></p>
				</div>
				<div class="card-footer bg-white">
					<div>
						<form class="delete-form" method="POST">
							<button id="likeButton" type="submit" formaction="/campgrounds/<%=campground.slug%>/like">
								<span id="likeSpan" class="badge badge-pill badge-secondary"><span class="px-2"><%=campground.likes.length%></span><i class="fas fa-thumbs-up p-1"></i></span>
							</button>
							<button id="dislikeButton" type="submit" formaction="/campgrounds/<%=campground.slug%>/dislike">
								<span id="dislikeSpan" class="badge badge-pill badge-secondary"><i class="fas fa-thumbs-down p-1"></i><span class="px-2"><%=campground.dislikes.length%></span></span>
							</button>
						</form>
						<span class="float-right"><a class="btn btn-sm btn-success" href="/campgrounds/<%=campground.slug%>/reviews/new">Write a Review</a></span>
					</div>
					
				</div>
			</div> <!--card end-->
			
			<div>
				<hr>
				<% if (!campground.reviews[0]){ %>
					<div>Be the first to review this campsite!</div>
				<% } else { %>
					<%campground.reviews.forEach((review)=>{%>
						<div class="row">
							<div class="col-5 pb-2"> <!--review author-->
								<div>
									<strong><a href="/user/<%=review.author.id%>"><%=review.author.name%></a></strong>
									<span class="pull-right time">
										<%=moment(review.dateAdded).fromNow()%>
									</span>
								</div>
									<%for (i = 0; i < author.length; i ++){ %>
										<%if (author[i].id == review.author.id){ %>
											<% var isAdmin; if (author[i].role == "admin") { isAdmin = "badge-success"} else { isAdmin = "badge-secondary"} %>
											<div class="badge badge-pill <%=isAdmin%> pb-1 mb-1">
												<%=author[i].role%>
											</div>
											<div>
												<% if (author[i].profilePicUrl){ %>
													<img class="user-pic" src="<%=author[i].profilePicUrl%>" alt="user.png">
												<% } %>
											</div>
											<div>
												User since: <%=moment(author[i].created).format("MMM YYYY")%>
											</div>
											<div>
												Posts: <%=author[i].posts.length%>
											</div>
											<div>
												Reviews: <%=author[i].reviews.length%>
											</div>
										<%} %>
									<%} %>
								<div>
								<% if (currentUser && review.author.id.equals(currentUser._id) || currentUser && currentUser.role == "admin"){ %>
									<a href="/campgrounds/<%=campground.slug%>/reviews/<%=review._id%>/edit"><span><i class="far fa-edit"></i></span></a>
									<form class="delete-form" action="/campgrounds/<%=campground.slug%>/reviews/<%=review._id%>?_method=DELETE" method="POST">
										<button><span><i class="far fa-trash-alt"></i></span></button>
									</form>
								<% }; %>
								</div>
							</div>
							<div class="col-7 pb-2"> <!--review body-->
								<div class="stars">
									<%for (var i=0; i < 5; i++){ %>
										<% if (review.rating > i){ %>
											<span class="fas fa-star star-rating"></span>
										<% } else { %>
											<span class="far fa-star"></span>
										<% } %>
										
									<% } %>
								</div>
								<p>
									<%=review.text%>
								</p>
							</div>
						</div>
						<hr>
					<%})%>
				<%} %>
			</div> <!--reviews div end-->
		</div>
	</div>
</div>
<%include ../partials/footer%>
<%if (currentUser){ %>
	<script>
		document.addEventListener("DOMContentLoaded", function(){
			var likes = JSON.stringify("<%=campground.likes%>");
			var likesArr = JSON.parse("[" + likes + "]");
			var dislikes = JSON.stringify("<%=campground.dislikes%>");
			var dislikesArr = JSON.parse("[" + dislikes + "]")
			var uid = "<%=currentUser._id%>";
	
			var isLikeFound = likesArr.some((id)=>{
				return id == uid;
			});
			var isDislikeFound = dislikesArr.some((id)=>{
				return id == uid;
			});
			if (uid && isLikeFound){
				$("#likeSpan").removeClass("badge-secondary").addClass("badge-success");
			} else if (uid && isDislikeFound){
				$("#dislikeSpan").removeClass("badge-secondary").addClass("badge-danger");
			}
		});	
	</script>
<% } %>

